@*<form class="form-control" method="post"> *@
<div class="card mb-4">
    <div class="card-body">
        <form method="post" class="col-md-6" style="margin:0 auto;">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label>NAME</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="col-md-6 col-sm-6">
                    <label>SURNAME</label>
                    <input type="text" class="form-control" id="surname" name="surname">
                </div>
                <div class="col-md-6 col-sm-6">
                    <label>AGE</label>
                    <input type="text" class="form-control" id="age" name="age" required>
                </div>
                <div class="col-md-6 col-sm-6">
                    <label>DATE OF BIRTH</label>
                    <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" required>
                </div>
                <div class="col-md-6 col-sm-6">
                    <label>E-MAİL</label>
                    <input type="text" class="form-control" id="email" name="email" required>
                </div>
                <div class="col-md-6 col-sm-6">
                    <label>GENDER</label>
                    <select class="form-control" id="gender" name="gender" required>
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="col-md-6 col-sm-6">
                    <label>PASSWORD</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <br />
                <br />


            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>